.body {
  display: flex;
  margin-top: -1vh;
  background-color: #000;
}
.walkway {
  height: 100vh;
  width: 64vw;
}

.horse {
  height: 100vh;
  width: 33vw;
  overflow: hidden;
}
 iframe {
  width: 100%;
  height: 100vh;
 }