//phone portriat 
@media (min-width: 300px) and (max-width: 480px){
  .left-nav {
    display: none;
  }
  header {
    width: 100vw;

    .head-flex-container {
      flex-direction: column;

       .mobile-only {
        display: block;
        
        margin: 0 0 1vh -4vw;

        li {
          text-align: center;
          padding: 1vh 0;
        }
      }

      .logo {
        height: auto;
        width: 25vh;
        margin: 0 auto;
      }

      .name {
        text-align: center;
        padding: 0;
        margin: 0;
        display: block;
      }
    }

    .eye {
      width: 100vw;
      height: auto;
      position: absolute;
      bottom: 0;    
    }
  }

  .body {
    flex-direction: column;

    .walkway {
      width: 100vw;
      height: auto;
    }

    .horse {
      width: 95vw; 
      height: auto;
    }
  }

  iframe {
   height: auto; 
  }
}

//tablet portriat
@media (min-width: 480px) and (max-width: 768px){
  .left-nav {
    display: none;
  }
  
  header {
    width: 101vw;
  
      .head-flex-container {
        flex-direction: column;
      }

    .eye {
      width: 100vw;
      height: auto;
      position: absolute;
      bottom: 0;    
    }
  

    .logo {
      height: auto;
      width: 15vw;
    }
  }

  .body {
    flex-direction: column;

    .walkway {
      width: 100vw;
      height: auto;
    }

    .horse {
      width: 100vw;
      height: auto;
    }
  }
}


/* change size for phone landscape 
@media (min-width: 480px) and (max-width: 768px){
  .left-nav {
    display: none;
  }
  
  header {
    width: 101vw;
  
      .head-flex-container {
        flex-direction: column;
      }

    .eye {
      width: 100vw;
      height: auto;
    }
  

    .logo {
      height: auto;
      width: 15vw;
    }
  }

  .body {
    flex-direction: column;

    .walkway {
      width: 100vw;
      height: auto;
    }

    .horse {
      width: 100vw;
      height: auto;
    }
  }
}*/