@media (min-width: 300px) and (max-width: 480px) {
  .left-nav {
    display: none; }
  header {
    width: 100vw; }
    header .head-flex-container {
      flex-direction: column; }
      header .head-flex-container .mobile-only {
        display: block;
        margin: 0 0 1vh -4vw; }
        header .head-flex-container .mobile-only li {
          text-align: center;
          padding: 1vh 0; }
      header .head-flex-container .logo {
        height: auto;
        width: 25vh;
        margin: 0 auto; }
      header .head-flex-container .name {
        text-align: center;
        padding: 0;
        margin: 0;
        display: block; }
    header .eye {
      width: 100vw;
      height: auto;
      position: absolute;
      bottom: 0; }
  .body {
    flex-direction: column; }
    .body .walkway {
      width: 100vw;
      height: auto; }
    .body .horse {
      width: 95vw;
      height: auto; }
  iframe {
    height: auto; } }

@media (min-width: 480px) and (max-width: 768px) {
  .left-nav {
    display: none; }
  header {
    width: 101vw; }
    header .head-flex-container {
      flex-direction: column; }
    header .eye {
      width: 100vw;
      height: auto;
      position: absolute;
      bottom: 0; }
    header .logo {
      height: auto;
      width: 15vw; }
  .body {
    flex-direction: column; }
    .body .walkway {
      width: 100vw;
      height: auto; }
    .body .horse {
      width: 100vw;
      height: auto; } }

/* change size for phone landscape 
@media (min-width: 480px) and (max-width: 768px){
  .left-nav {
    display: none;
  }
  
  header {
    width: 101vw;
  
      .head-flex-container {
        flex-direction: column;
      }

    .eye {
      width: 100vw;
      height: auto;
    }
  

    .logo {
      height: auto;
      width: 15vw;
    }
  }

  .body {
    flex-direction: column;

    .walkway {
      width: 100vw;
      height: auto;
    }

    .horse {
      width: 100vw;
      height: auto;
    }
  }
}*/
